DATABASE_URL="mongodb+srv://..."

SHOPIFY_API_KEY=""
SHOPIFY_API_SECRET=""
SHOPIFY_APP_URL=""

SHOPIFY_SCOPES="write_products,write_metaobjects,write_metaobject_definitions,read_themes,write_themes"
SCOPES="write_products,write_metaobjects,write_metaobject_definitions,read_themes,write_themes"

SESSION_SECRET=""

# Prisma requires a MongoDB replica set. MongoDB Atlas clusters include this by default.
